.present {
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  background-image: url("../../svg/present.svg");
  background-size: 100%;
  color: white;
  padding: 40px;

  &-text {
    margin-left: 350px;
    gap: 50px;
    display: flex;
    flex-direction: column;

    h1 {
      text-decoration: underline;
      font-size: 60px;
    }

    button {
      height: 55px;
      width: 213px;
      border: none;
      cursor: pointer;
      border: 1px solid white;
      transition: 0.2s;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      p {
        font-size: 18px;
      }

      &:hover {
        background-color: #32322f;
        color: white;
        border: 1px solid #32322f;
      }
    }

    .present-under-text {
      display: flex;
      align-items: center;
      gap: 33px;

      p {
        font-size: 30px;
        max-width: 435px;
      }
    }
  }
}
